@using WebMatrix.Data;
@{
    Validation.RequireField("Id", "Product Id is required.");
    Validation.RequireField("Username", "Product username is required.");
    Validation.RequireField("Password", "Product password is required.");

    var db = Database.Open("PalmerDatabase");
    var Id = Request.Form["Id"];
    var Username = Request.Form["Username"];
    var Password = Request.Form["Password"];

    if (IsPost && Validation.IsValid())
    {
        // Define the insert query. The values to assign to the
        // columns in the Product table are defined as parameters
        // with the VALUES keyword.
        if (ModelState.IsValid)
        {
            var insertQuery = "INSERT INTO Product (Id, Username, Password) " +
                "VALUES (@0, @1, @2)";
            db.Execute(insertQuery, Id, Username, Password);
            // Display the page that lists products.
            Response.Redirect("~/ListProducts");
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Add Products</title>
    <style type="text/css">
        label {
            float: left;
            width: 8em;
            text-align: right;
            margin-right: 0.5em;
        }

        fieldset {
            padding: 1em;
            border: 1px solid;
            width: 50em;
        }

        legend {
            padding: 2px 4px;
            border: 1px solid;
            font-weight: bold;
        }

        .validation-summary-errors {
            font-weight: bold;
            color: red;
            font-size: 11pt;
        }
    </style>
</head>
<body>
    <h1>Add New Product</h1>

    @Html.ValidationSummary("Errors with your submission:")

    <form method="post" action="">
        <fieldset>
            <legend>Add Product</legend>
            <div>
                <label>Id:</label>
                <input id="Id" type="text" size="50" value="@Id" />
            </div>
            <div>
                <label>Username:</label>
                <input Id="Username" type="text" size="50"
                       value="@Username" />
            </div>
            <div>
                <label>Password:</label>
                <input id="Password" type="text" size="50" value="@Password" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Insert" class="submit" />
            </div>
        </fieldset>
    </form>
</body>
</html>